<div class='container'>
  <%= form_with scope: resource, as: resource_name, url: session_path(resource_name),  html: { class: "mt-5, new_user" }, local: true do |f| %>   
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card login">
          <div class="card-body">
            <h1>ログイン</h1>
            <form action ="">
              
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", placeholder: "emailを入力してください" , autocomplete: "email" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
                <% end %><br />
                <%= f.password_field :password, class: "form-control", placeholder:"パスワードを入力してください", autocomplete: "off" %>
              </div>
              
              <div class="text-center">
                <%= f.submit "ログイン", class: "btn submitBtn" %>
              </div>

               <div class="text-center2"><%= render "devise/shared/links" %></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

    